# ==========================
# Laravel
# ==========================
backend/vendor/
backend/.env
backend/storage/*.key

# ==========================
# React
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# ESP32
# ==========================
*.bin

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db