vendor
node_modules
.git
.gitignore
.gitattributes
.env
.env.backup
.editorconfig
.vscode
.idea
*.md
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.DS_Store
